POSTGRES_HOST=localhost
POSTGRES_PORT=15432
POSTGRES_DB=ubot
POSTGRES_USER=ubot
POSTGRES_PASSWORD=change-me

OLLAMA_PORT=11435
OLLAMA_BASE_URL=http://localhost:11435
OLLAMA_EMBEDDING_MODEL=bge-m3:567m

SPRING_PROFILES_ACTIVE=local

OLLAMA_CONNECT_TIMEOUT=3s
OLLAMA_READ_TIMEOUT=10s
KAKAO_REST_API_KEY=


//JWT
JWT_SECRET=your-secret-key
JWT_ACCESS_TOKEN_EXPIRATION_MILLIS=600000
JWT_REFRESH_TOKEN_EXPIRATION_DAYS=14